@supports (font-variation-settings: normal) {

    @font-face {
        font-family: Figtree;
        src: url(../assets/fonts/Figtree-VariableFont_wght.ttf) format("truetype-variations");
        font-style: normal;
        font-weight: 100 1000;
    }

    @font-face {
        font-family: Figtree;
        src: url(../assets/fonts/Figtree-Italic-VariableFont_wght.ttf) format("truetype-variations");
        font-style: italic;
        font-weight: 100 1000;
    }

    @font-face {
        font-family: Figtree;
        font-style: normal;
        font-weight: normal;
        src: url('../assets/fonts/static/Figtree-Medium.ttf') format('truetype');
    }


    @font-face {
        font-family: Figtree;
        font-style: normal;
        font-weight: bold;
        src: url('../assets/fonts/static/Figtree-ExtraBold.ttf') format('truetype');
    }
}


p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

:-webkit-any(article, aside, nav, section) h1 {
    font-size: 1em;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

:root {
    --color-yellow: hsl(47, 88%, 63%);
    --color-gray-950: hsl(0, 0%, 7%);
    --color-gray-500: hsl(0, 0%, 42%);
    --color-white: hsl(0, 0%, 100%);
}

html {
    font-family: Figtree, sans-serif;
    font-weight: 500;
    background-color: var(--color-yellow);
    color: var(--color-gray-950);
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.card {
    margin: 24px;
    background-color: var(--color-white);
    border: 1px solid var(--color-gray-950);
    border-radius: 20px;
    box-shadow: 8px 8px 0 var(--color-gray-950);
}

.card__content {
    display: flex;
    flex-direction: column;
    margin: 24px;
    gap: 24px;
}

.card__image {
    display: block;
    border-radius: 10px;
    height: calc(200rem/16);
    width: 100%;
    object-fit: cover;
}

.card__text {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.card__label {
    width: max-content;
    padding: 4px 12px;
    background-color: var(--color-yellow);
    border-radius: 4px;
    line-height: 1.5;
    font-weight: bold;
    font-size: calc(12rem/16);
}

.card__date {
    font-size: calc(12rem/16);
    line-height: 1.5;
}

.card__header {
    font-weight: 800;
    font-size: calc(20rem/16);
    line-height: 1.5;
}

.card__body {
    color: var(--color-gray-500);
    font-size: calc(14rem/16);
    line-height: 1.5;
}


.card__person {
    display: flex;
    gap: 12px;
    width: max-content;
    align-items: center;
}

.card__avatar {
    width: 32px;
}

.card__name {
    font-weight: bold;
    font-size: calc(14rem/16);
}


@media (min-width: calc(432rem / 16)) {
    .card {
        max-width: 384px;
    }

    .card__label {
        font-size: calc(14rem/16)
    }

    .card__header {
        font-size: calc(24rem/16)
    }

    .card__header:hover {
        color: var(--color-yellow)
    }

    .card__body {
        font-size: 1rem
    }

    .card__date {
        font-size: calc(14rem/16)
    }
}